# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.idea
*.tfstate
*.hcl
*.info
.terraform
/terraform.tfstate.backup
/terraform.d/plugins/registry.namedotcom.local/namedotcom/namedotcom/1.1.1/windows_amd64/terraform-provider-namedotcom.exe
